*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */

}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, #2B2B2B, #171010);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #444444;
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid rgba(57, 255,200, 0.5);
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: -8px -8px 1.5rem rgba(255, 255, 255, 0.1), 5px 5px 1.5rem rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
    border: 2px solid rgba(57, 255,200, 0.5);
    border-radius: 1rem;
    font-size: 1rem;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 4.5rem;
    box-shadow: none;
}

form input.operator {
    color: rgba(57, 255, 200, 0.5);
}

form input.clear {
    color: #ff5555;
}